<div class="user-details">
  <h1> Featured Projects </h1>
</div>
<div class="user-projects">
  <div class="images-right">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/y30-8XhYyJ0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
<!--     <img alt="mountains" src="{{ "/assets/img/mountains.jpg" | prepend: site.baseurl }}" /> -->
  </div>
  <div class="contents">
    <h3> Automatic Seoul Bike Inspector </h3>
    <ul>
      <li> Design, Modeling </li>
    </ul>
    <p>For Creative Product Design Project, I did design Automatic Seoul Bike Inspector System. Automatic Seoul Bike Inspector named Recycle lifts and fix Bike, And then it automatically inspects Tire Pressure, Head Light.</p>
    <a class="project-link" href="#">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="{{ "/assets/img/skate.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Automatic walking Robot </h3>
    <ul>
      <li>Design, Modeling, Python, TCP Connect, Android Application, 3d printer </li>
    </ul>
    <p>Automatic walking Robot, By using Theo Jansen walking mechanism I did design Automatic walking Robot. and Opencv and Direction decision algorithm</p>
    <a class="project-link" href="#">Check it out</a>
  </div>
</div>
